<div class="page-width bottom-space">
  <div class="row clearfix">
	<div class="pages-container"> 
		 <div class="page-header">
			<h1 class="page-title">{{ page.title }}</h1>
		 </div>
		 <div class="rte page-content">
			 <div class="question-answer">
			 	<h5 class="question clearfix">AUSTRALIAN SHIPPING<span class="plus">&nbsp;</span></h5>
				<div class="answer">
<h3><b>AUSTRALIA</b></h3>
<p>We deliver within Australia using Australia Post.</p>
<div></div>
<div></div>
<table>
<tbody>
<tr>
<td>
<div>
<div></div>
</div>
</td>
<td>
<div><b>Orders over $100</b></div>
</td>
<td>
<div><b>Orders under $100</b></div>
</td>
<td>
<div><b>Arrival Time</b></div>
</td>
</tr>
<tr>
<td>
<div>Standard domestic shipping</div>
</td>
<td>
<div>FREE</div>
</td>
<td>
<div>$7</div>
</td>
<td>
<div>4-7 business days</div>
</td>
</tr>
<tr>
<td>
<div>Express Shipping</div>
</td>
<td>
<div>$9</div>
</td>
<td>
<div>$9</div>
</td>
<td>
<div>2-3 business days</div>
</td>
</tr>
</tbody>
</table>
<div></div>
<div></div>
<br />Once dispatched, you will receive an email containing your tracking number to track the progress of your delivery.<br />				</div>
			 </div>	
			 <div class="question-answer">
			 	<h5 class="question clearfix">INTERNATIONAL SHIPPING<span class="plus">&nbsp;</span></h5>
				<div class="answer">
Nimble Activewear offers EXPRESS international shipping via DHL.<br /><br /><br />
<div></div>
<div></div>
<table style="width: 740px;" height="465">
<tbody>
<tr>
<td style="width: 341px;">
<div><b>Country</b></div>
</td>
<td style="width: 145px;">
<div><b>FREE for orders over...</b></div>
</td>
<td style="width: 98px;">
<div><b>Cost for orders under...</b></div>
</td>
<td style="width: 128px;">
<div><b>Arrival Time*</b></div>
</td>
</tr>
<tr>
<td style="width: 341px;">
<div><strong>New Zealand</strong></div>
</td>
<td style="width: 145px;">
<div>$150</div>
</td>
<td style="width: 98px;">
<div>$15</div>
</td>
<td style="width: 128px;">
<div>3-5 business days</div>
</td>
</tr>
<tr>
<td style="width: 341px;">
<p><strong>North America</strong> <br />USA, Canada</p>
</td>
<td style="width: 145px;">
<div>$199</div>
</td>
<td style="width: 98px;">
<div>$15</div>
</td>
<td style="width: 128px;">
<div>3-5 business days</div>
</td>
</tr>
<tr>
<td style="width: 341px;">
<div><strong>UK &amp; Europe</strong> <br />Austria, Belgium, France, Germany, Monaco, Netherlands, Norway, Switzerland</div>
</td>
<td style="width: 145px;">
<div>$200</div>
</td>
<td style="width: 98px;">
<div>$20</div>
</td>
<td style="width: 128px;">
<div>3-5 business days</div>
</td>
</tr>
<tr>
<td style="width: 341px;">
<div><strong>Asia</strong> <br />China, Hong Kong, India, Indonesia, Japan, Malaysia, Singapore, South Korea, Taiwan, Thailand, Vietnam</div>
</td>
<td style="width: 145px;">
<div>$190</div>
</td>
<td style="width: 98px;">
<div>$18</div>
</td>
<td style="width: 128px;">
<div>3-5 business days</div>
</td>
</tr>
<tr>
<td style="width: 341px;">
<div><strong>Mexico</strong></div>
</td>
<td style="width: 145px;">
<div>$200-</div>
</td>
<td style="width: 98px;">
<div>$15</div>
</td>
<td style="width: 128px;">
<div>3-5 business days</div>
</td>
</tr>
</tbody>
</table>
<div></div>
<div></div>
<p><br />*Please be aware that packages may be subject to delays and additional taxes and duties at the port of entry of various international countries outside of Australia. Nimble Activewear takes every effort to ensure a quick and smooth delivery, but does not take responsibility for any delays and extra fees which may be applied via customs and duty offices in the receiving country. <br /><br />Once dispatched, you will receive an email containing your tracking number to track the progress of your delivery. <br /><br />If your shipping destination is not on the above list, please contact us to request your shipping location.</p>				</div>
			 </div>
			  <div class="question-answer">
			 	<h5 class="question clearfix">EXAMPLE OF A SHIPPING<span class="plus">&nbsp;</span></h5>
				<div class="answer">
					aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem 
				</div>
			 </div>
			  <div class="question-answer">
			 	<h5 class="question clearfix">EXAMPLE OF A SHIPPING<span class="plus">&nbsp;</span></h5>
				<div class="answer">
					aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem 
				</div>
			 </div>
			  <div class="question-answer">
			 	<h5 class="question clearfix">EXAMPLE OF A SHIPPING<span class="plus">&nbsp;</span></h5>
				<div class="answer">
					aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem 
				</div>
			 </div>
		  </div>
	  </div>
  </div>
</div>
