<div class="page-width bottom-space">
  <div class="row clearfix">
	<div class="pages-container"> 
		 <div class="page-header">
			<h1 class="page-title">{{ page.title }}</h1>
		 </div>
		 <div class="rte page-content">
			 <div class="question-answer">
			 	<h5 class="question clearfix">HEADING HERE<span class="plus">&nbsp;</span></h5>
				<div class="answer">
					aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem 
				</div>
			 </div>	
			 <div class="question-answer">
			 	<h5 class="question clearfix">EXAMPLE OF A RETURNS <span class="plus">&nbsp;</span></h5>
				<div class="answer">
					aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem 
				</div>
			 </div>
			  <div class="question-answer">
			 	<h5 class="question clearfix">EXAMPLE OF A RETURNS<span class="plus">&nbsp;</span></h5>
				<div class="answer">
					aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem 
				</div>
			 </div>
			  <div class="question-answer">
			 	<h5 class="question clearfix">EXAMPLE OF A RETURNS<span class="plus">&nbsp;</span></h5>
				<div class="answer">
					aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem 
				</div>
			 </div>
			  <div class="question-answer">
			 	<h5 class="question clearfix">EXAMPLE OF A RETURNS<span class="plus">&nbsp;</span></h5>
				<div class="answer">
					aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem 
				</div>
			 </div>
		  </div>
	  </div>
  </div>
</div>
