<div class="page-width">
  <div class="row clearfix">
	<div class="pages-container"> 
		 <div class="page-header">
			<h1 class="page-title">{{ page.title }}</h1>
		 </div>
		 <div class="rte page-content">
			{{ page.content }}
		  </div>
	  </div>
  </div>
</div>
