<div class="page-width">
  <div class="row clearfix">
	<div class="pages-container"> 
		 <div class="page-header">
			<h1 class="page-title">{{ page.title }}</h1>
		 </div>
		 <div class="rte page-content row clearfix">
			<div class="left-content col col-six">
				 <div class="store-addresses">
					<h5 class="state-title">STATE / COUNTRY<span class="plus">&nbsp;</span></h5>
					<div class="address">
						<p>NAME OF STORE + ADDRESS</p>
						<p>NAME OF STORE + ADDRESS</p>
						<p>NAME OF STORE + ADDRESS</p>
						<p>NAME OF STORE + ADDRESS</p>
					</div>
				 </div>
				<div class="store-addresses">
					<h5 class="state-title">STATE / COUNTRY<span class="plus">&nbsp;</span></h5>
					<div class="address">
						<p>NAME OF STORE + ADDRESS</p>
						<p>NAME OF STORE + ADDRESS</p>
						<p>NAME OF STORE + ADDRESS</p>
						<p>NAME OF STORE + ADDRESS</p>
					</div>
				 </div>
				<div class="store-addresses">
					<h5 class="state-title">STATE / COUNTRY<span class="plus">&nbsp;</span></h5>
					<div class="address">
						<p>NAME OF STORE + ADDRESS</p>
						<p>NAME OF STORE + ADDRESS</p>
						<p>NAME OF STORE + ADDRESS</p>
						<p>NAME OF STORE + ADDRESS</p>
					</div>
				 </div>
				<div class="store-addresses">
					<h5 class="state-title">STATE / COUNTRY<span class="plus">&nbsp;</span></h5>
					<div class="address">
						<p>NAME OF STORE + ADDRESS</p>
						<p>NAME OF STORE + ADDRESS</p>
						<p>NAME OF STORE + ADDRESS</p>
						<p>NAME OF STORE + ADDRESS</p>
					</div>
				 </div>	
			 </div>
			 <div class="col col-six right-content">
				 <div class="store-addresses">
					<h5 class="state-title">STATE / COUNTRY<span class="plus">&nbsp;</span></h5>
					<div class="address">
						<p>NAME OF STORE + ADDRESS</p>
						<p>NAME OF STORE + ADDRESS</p>
						<p>NAME OF STORE + ADDRESS</p>
						<p>NAME OF STORE + ADDRESS</p>
					</div>
				 </div>
				<div class="store-addresses">
					<h5 class="state-title">STATE / COUNTRY<span class="plus">&nbsp;</span></h5>
					<div class="address">
						<p>NAME OF STORE + ADDRESS</p>
						<p>NAME OF STORE + ADDRESS</p>
						<p>NAME OF STORE + ADDRESS</p>
						<p>NAME OF STORE + ADDRESS</p>
					</div>
				 </div>
				<div class="store-addresses">
					<h5 class="state-title">STATE / COUNTRY<span class="plus">&nbsp;</span></h5>
					<div class="address">
						<p>NAME OF STORE + ADDRESS</p>
						<p>NAME OF STORE + ADDRESS</p>
						<p>NAME OF STORE + ADDRESS</p>
						<p>NAME OF STORE + ADDRESS</p>
					</div>
				 </div>	
				<div class="store-addresses">
					<h5 class="state-title">STATE / COUNTRY<span class="plus">&nbsp;</span></h5>
					<div class="address">
						<p>NAME OF STORE + ADDRESS</p>
						<p>NAME OF STORE + ADDRESS</p>
						<p>NAME OF STORE + ADDRESS</p>
						<p>NAME OF STORE + ADDRESS</p>
					</div>
				 </div>	
			 </div>
		  </div>
	  </div>
  </div>
</div>
